<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HotelBookingDB" connectionString="Data Source=LAPTOP-Q56J1ABV\\SQLEXPRESS;Initial Catalog=HotelBooking;Integrated Security=True;Encrypt=False;Trust Server Certificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Logs\HotelBookingSystem.log"/>
    <add key="MaxBookingDays" value="30"/>
  </appSettings>
</configuration>